---
import LanguagePicker from "../../components/language-picker.astro";
import Link from "../../components/link.astro";
import List from "../../components/list.astro";
import ThemeSwitcher from "../../components/theme-switcher.vue";
import BaseLayout from "../../layouts/base-layout.astro";
---

<BaseLayout title="Index" ogImg={`${import.meta.env.SITE}/me/index-og.png`}>
  <div
    class="px-2 flex justify-between gap-3 flex-wrap mb-5 pt-3 max-w-screen-sm w-full max-sm:flex-col-reverse sm-px-5"
  >
    <div>
      <h1 class="text-2xl font-700 mb-3 sm:text-3xl">Roman Ospanov</h1>
      <ul class="flex flex-col text-xs font-300 sm:text-sm">
        <li class="flex items-center gap-1">
          <span
            class="flex w-28 gap-1 after:content-empty after:block after:w-full after:h-0.5 after:bg-gray-300 after:self-end after:mb-1"
          >
            email
          </span>
          <Link href="mailto:hi9mmi@gmail.com" target="_blank">hi9mmi@gmail.com</Link>
        </li>
        <li class="flex items-center gap-1">
          <span
            class="flex w-28 gap-1 after:content-empty after:block after:w-full after:h-0.5 after:bg-gray-300 after:self-end after:mb-1"
          >
            phone
          </span>
          <Link href="phone:+77086237230" target="_blank">+7 708 623 72 30</Link>
        </li>
        <li class="flex items-center gap-1">
          <span
            class="flex w-28 gap-1 after:content-empty after:block after:w-full after:h-0.5 after:bg-gray-300 after:self-end after:mb-1"
          >
            whatsapp
          </span>
          <Link href="https://wa.me/77086237230" target="_blank">+7 708 623 72 30</Link>
        </li>
        <li class="flex items-center gap-1">
          <span
            class="flex w-28 gap-1 after:content-empty after:block after:w-full after:h-0.5 after:bg-gray-300 after:self-end after:mb-1"
          >
            telegram
          </span>
          <Link href="https://t.me/hi9mi" target="_blank">t.me/hi9mi</Link>
        </li>
        <li class="flex items-center gap-1">
          <span
            class="flex w-28 gap-1 after:content-empty after:block after:w-full after:h-0.5 after:bg-gray-300 after:self-end after:mb-1"
          >
            github
          </span>
          <Link href="https://github.com/hi9mi" target="_blank">github.com/hi9mi</Link>
        </li>
      </ul>
    </div>
    <div class="flex items-center gap-3">
      <LanguagePicker />
      <ThemeSwitcher client:only />
    </div>
  </div>
  <section class="pl-2 pr-2 sm:pl-10 pb-3">
    <p class="font-300">My name is Roman.</p>
    <p class="font-300">I'm a front-end developer.</p>
    <Link href="/me/en/resume" class="py-1 inline-block text-base sm:p-3">Look for details</Link>
    <p class="font-300">Relative experience 1.6 years</p>
    <h2 class="text-lg font-500 mb-2 mt-5 sm:text-xl sm:mt-10">Skills</h2>
    <List
      items={[
        "Javascript(ES6+), Typescript, Golang, SQL",
        "React.js, Vue.js 2|3, Next.js, Fastify, Express.js",
        "Effector, Reatom, RTK, Pinia, Vuex, etc...",
        "React-Router, Atomic-Router, Vue-Router",
        "Felte, React-Hook-Form, Formik, VeeValidate, etc...",
        "Tailwindcss, UnoCSS, styled-components, etc...",
        "Material UI, Chakra UI, Mantine, etc...",
        "Webpack, Rollup, Vite",
        "Jest, React-Testing-Library, Storybook, Vitest, Histoire",
        "ESLint, Prettier, etc...",
        "git, git-flow, docker, docker-compose",
      ]}
      direction="column"
    />
    <h2 class="text-lg font-500 mb-2 mt-5 sm:text-xl sm:mt-10">Languages</h2>
    <List items={["English -> A1 - A2", "Russian -> Native"]} direction="column" />
    <h2 class="text-lg font-500 mb-2 mt-5 sm:text-xl sm:mt-10">Notes</h2>
    <List
      items={["I lives in Kazakhstan", "I prefer remote work", "I'm ready to relocate"]}
      direction="column"
    />
  </section>
</BaseLayout>
