---
import Link from './link.astro'

// eslint-disable-next-line no-undef
interface LinkProps extends astroHTML.JSX.AnchorHTMLAttributes {}

interface Props {
  links: {
    label: string
    linkText: string
    linkProps: LinkProps
    class?: string
  }[]
  class?: string
}

const { links, class: className } = Astro.props
---

<ul class:list={['flex flex-col text-xs font-300 sm:text-sm', className]}>
  {
    links.map(({ label, linkText, linkProps, class: className }) => (
      <li class:list={['flex items-center gap-1', className]}>
        <span class="flex w-28 gap-1 after:content-empty after:block after:w-full after:h-0.5 after:bg-gray-300 after:self-end after:mb-1">
          {label}
        </span>
        <Link {...linkProps}>{linkText}</Link>
      </li>
    ))
  }
</ul>
