---
interface Props {
  items: string[]
  direction?: 'column' | 'row'
}

const { items, direction = 'row' } = Astro.props
---

<ul
  class="flex flex-wrap font-300 text-sm sm:text-base"
  class:list={[
    {
      'flex-col gap-y-2': direction === 'column',
      'flex-row gap-x-2': direction === 'row',
    },
  ]}
>
  {
    items.map((item) => (
      <li class="flex gap-1.5 items-center before:block before:content-empty before:w-1.5 before:h-1.5 before:min-w-1.5 before:min-h-1.5 before:bg-gray-300 before:rounded sm:before:h-2 sm:before:min-h-2 sm:before:w-2 sm:before:min-w-2 sm:gap-2">
        {item}
      </li>
    ))
  }
</ul>
