---
interface Props {
  title: string;
  className?: string;
}

const { title, className } = Astro.props;
---

<section class={className}>
  <h2
    class="text-xl font-700 mb-2 border-b-2 border-gray-300 flex gap-1 after:block after:content-empty after:w-full after:h-8 after:bg-gray-300 after:flex-1 sm:text-2xl"
  >
    {title}
  </h2>
  <slot />
</section>
