---
interface Props {
  title: string;
  className?: string;
}

const { title, className } = Astro.props;
---

<section class={className}>
  <h2
    uno-text="2xl"
    uno-font="700"
    uno-mb="2"
    uno-border-b="2 gray-300"
    uno-flex
    uno-gap="1"
    class="after:block after:content-empty after:w-full after:h-8 after:bg-gray-300 after:flex-1"
  >
    {title}
  </h2>
  <slot />
</section>
