---
import BaseLayout from "./base-layout.astro";
import ThemeSwitcher from "../components/theme-switcher.vue";
import LanguagePicker from "../components/language-picker.astro";
import Link from "../components/link.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url.pathname);
const t = useTranslations(lang);
---

<BaseLayout title={t("title.resume")} ogImg={`${import.meta.env.SITE}/me/resume-og.png`}>
  <header uno-py="5" uno-border-b="1 gray-700" uno-pos-sticky uno-top="0" uno-bg-white uno-dark:bg-gray-800>
    <div class="container flex justify-between gap-3">
      <div>
        <h1 uno-text="3xl" uno-font="700" uno-mb="3">{t("heading.resume")}</h1>
        <Link href={`/me/${lang}/`} class="text-sm">{t("nav.resume")}</Link>
      </div>
      <div class="flex items-center gap-3">
        <LanguagePicker />
        <ThemeSwitcher client:only />
      </div>
    </div>
  </header>
  <div uno-space-y="10" uno-py="10" class="container">
    <slot />
  </div>
  <footer uno-py="5" uno-border-t="1 gray-700" uno-pos-sticky uno-bottom="0"  uno-bg-white uno-dark:bg-gray-800>
    <div class="container">
      <ul uno-flex uno-flex-col uno-text-sm>
        <li uno-flex uno-items-center uno-gap-1>
          <span
            uno-flex
            uno-w-28
            uno-gap-1
            class="after:content-empty after:block after:w-full after:h-0.5 after:bg-gray-300 after:self-end after:mb-1.5"
            >email</span
          >
          <Link href="mailto:hi9mmi@gmail.com" target="_blank">hi9mmi@gmail.com</Link>
        </li>
        <li uno-flex uno-items-center uno-gap-1>
          <span
            uno-flex
            uno-w-28
            uno-gap-1
            class="after:content-empty after:block after:w-full after:h-0.5 after:bg-gray-300 after:self-end after:mb-1.5"
            >phone</span
          >
          <Link href="phone:+77086237230" target="_blank">+7 708 623 72 30</Link>
        </li>
        <li uno-flex uno-items-center uno-gap-1>
          <span
            uno-flex
            uno-w-28
            uno-gap-1
            class="after:content-empty after:block after:w-full after:h-0.5 after:bg-gray-300 after:self-end after:mb-1.5"
            >whatsapp</span
          >
          <Link href="https://wa.me/77086237230" target="_blank">+7 708 623 72 30</Link>
        </li>
        <li uno-flex uno-items-center uno-gap-1>
          <span
            uno-flex
            uno-w-28
            uno-gap-1
            class="after:content-empty after:block after:w-full after:h-0.5 after:bg-gray-300 after:self-end after:mb-1.5"
            >telegram</span
          >
          <Link href="https://t.me/hi9mi" target="_blank">t.me/hi9mi</Link>
        </li>
        <li uno-flex uno-items-center uno-gap-1>
          <span
            uno-flex
            uno-w-28
            uno-gap-1
            class="after:content-empty after:block after:w-full after:h-0.5 after:bg-gray-300 after:self-end after:mb-1.5"
            >github</span
          >
          <Link href="https://github.com/hi9mi" target="_blank">github.com/hi9mi</Link>
        </li>
      </ul>
    </div>
  </footer>
</BaseLayout>
