---
import ThemeSwitcher from '../components/theme-switcher.vue'
import LanguagePicker from '../components/language-picker.astro'
import Link from '../components/link.astro'

import LinkList from '../components/link-list.astro'
import socialLinks from '../data/social-links.json'
import { getLangFromUrl } from '../i18n/get-lang-from-url'
import { getTranslations } from '../i18n/get-translations'
import BaseLayout from './base-layout.astro'

const lang = getLangFromUrl(Astro.url.pathname)
const t = getTranslations(lang)
---

<BaseLayout
  title={t('resume.title')}
  ogImg={`${import.meta.env.SITE}/me/resume-og.png`}
>
  <header
    class="py-2.5 border-b-1 border-gray-700 pos-sticky top-0 bg-white dark:bg-gray-800 sm:py-5"
  >
    <div class="container flex justify-between gap-3">
      <div>
        <h1 class="text-2xl font-700 mb-3 sm:text-3xl">
          {t('resume.heading')}
        </h1>
        <Link href={`/me/${lang}/`} class="text-xs sm:text-sm"
          >{t('resume.nav')}</Link
        >
      </div>
      <div class="flex items-center gap-3">
        <LanguagePicker />
        <ThemeSwitcher client:only="vue" />
      </div>
    </div>
  </header>
  <div class="container space-y-5 py-5 sm:py-10 sm:space-y-10">
    <slot />
  </div>
  <footer
    class="py-2.5 border-t-1 border-gray-700 pos-sticky bottom-0 bg-white dark:bg-gray-800 sm:py-5"
  >
    <div class="container">
      <LinkList links={socialLinks} />
    </div>
  </footer>
</BaseLayout>
